<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>

    <!-- Mobile Metas -->
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"/>

    <!-- Site Metas -->
    <meta name="keywords" content=""/>
    <meta name="description" content=""/>
    <meta name="author" content=""/>
    <link rel="shortcut icon" href="{{ asset('assets/all/img/favicon.png') }}" type="image/x-icon">

    {% block title %}{% endblock %}

    {% block stylesheets %}
        <link rel="stylesheet"
              href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap"/>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
        <link rel="stylesheet" type="text/css" href="{{ asset('assets/all/css/bootstrap.css') }}"/>
        <link rel="stylesheet" type="text/css" href="{{ asset('assets/all/css/style.css') }}"/>
        <link rel="stylesheet" type="text/css" href="{{ asset('assets/all/css/responsive.css') }}"/>
    {% endblock %}

    {% block javascripts %}
        <script src="{{ asset('assets/all/js/jquery-3.4.1.min.js') }}"></script>
        <script src="{{ asset('assets/all/js/bootstrap.js') }}"></script>
    {% endblock %}
</head>
<body>
{% block header %}
    <div class="hero_area">
        <header class="header_section">
            <nav class="navbar navbar-expand-lg custom_nav-container ">
                <a class="navbar-brand" href="{{ path('app_home') }}">
                    <span>
                        Giftos
                    </span>
                </a>
                <button class="navbar-toggler" type="button" data-toggle="collapse"
                        data-target="#navbarSupportedContent"
                        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                    <span class=""></span>
                </button>
                <div class="collapse navbar-collapse innerpage_navbar" id="navbarSupportedContent">
                    <ul class="navbar-nav">
                        <li class="nav-item{% if controller_name == 'HomeController' %} active{% endif %}">
                            <a class="nav-link" href="{{ path('app_home') }}">
                                Home
                            </a>
                        </li>
                        <li class="nav-item{% if controller_name in ['CategoryController', 'ProductController', 'ShopController'] %} active{% endif %}">
                            <a class="nav-link" href="{{ path('app_shop') }}">
                                Shop
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="{{ path('app_home') }}#why_us">
                                Why Us
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="{{ path('app_home') }}#testimonial">
                                Testimonial
                            </a>
                        </li>
                        <li class="nav-item{% if controller_name == 'ContactController' %} active{% endif %}">
                            <a class="nav-link" href="{{ path('app_contact') }}">
                                Contact Us
                            </a>
                        </li>
                    </ul>
                    <div class="user_option">
                        {% if app.user is defined and app.user is not null %}
                            <a href="{{ path('app_my_account') }}">
                                <i class="fa fa-user" aria-hidden="true"></i>
                                <span>
                                    {{ app.user.name }}
                                </span>
                            </a>
                        {% else %}
                            <a href="{{ path('app_login') }}">
                                <i class="fa fa-user" aria-hidden="true"></i>
                                <span>
                                    Login
                                </span>
                            </a>
                        {% endif %}
                        <a href="{{ path('app_cart') }}">
                            <i class="fa fa-shopping-bag" aria-hidden="true"></i>
                        </a>
                    </div>
                    {% if app.user is defined and app.user is not null and 'ROLE_ADMIN' in app.user.getRoles %}
                        <div class="navbar-nav">
                            <a class="btn btn-primary go_to_admin_button" href="{{ path('admin') }}">
                                <i class="fa fa-gears"></i>
                                <span>ADMIN PANEL</span>
                            </a>
                        </div>
                    {% endif %}
                </div>
            </nav>
        </header>
    </div>
{% endblock %}

{% block body %}
{% endblock %}

{% block footer %}
    <section class="info_section layout_padding2-top">
        <div class="social_container">
            <div class="social_box">
                <a href="">
                    <i class="fa fa-facebook" aria-hidden="true"></i>
                </a>
                <a href="">
                    <i class="fa fa-twitter" aria-hidden="true"></i>
                </a>
                <a href="">
                    <i class="fa fa-instagram" aria-hidden="true"></i>
                </a>
                <a href="">
                    <i class="fa fa-youtube" aria-hidden="true"></i>
                </a>
            </div>
        </div>
        <div class="info_container ">
            <div class="container">
                <div class="row">
                    <div class="col-md-6 col-lg-3">
                        <h6>
                            ABOUT US
                        </h6>
                        <p>
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed doLorem ipsum dolor sit amet,
                            consectetur adipiscing elit, sed doLorem ipsum dolor sit amet,
                        </p>
                    </div>
                    <div class="col-md-6 col-lg-3">
                        <div class="info_form ">
                            <h5>
                                Newsletter
                            </h5>
                            <form action="#">
                                <input type="email" placeholder="Enter your email">
                                <button>
                                    Subscribe
                                </button>
                            </form>
                        </div>
                    </div>
                    <div class="col-md-6 col-lg-3">
                        <h6>
                            NEED HELP
                        </h6>
                        <p>
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed doLorem ipsum dolor sit amet,
                            consectetur adipiscing elit, sed doLorem ipsum dolor sit amet,
                        </p>
                    </div>
                    <div class="col-md-6 col-lg-3">
                        <h6>
                            CONTACT US
                        </h6>
                        <div class="info_link-box">
                            <a href="">
                                <i class="fa fa-map-marker" aria-hidden="true"></i>
                                <span> Gb road 123 london Uk </span>
                            </a>
                            <a href="">
                                <i class="fa fa-phone" aria-hidden="true"></i>
                                <span>+01 12345678901</span>
                            </a>
                            <a href="">
                                <i class="fa fa-envelope" aria-hidden="true"></i>
                                <span> demo@gmail.com</span>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <footer class=" footer_section">
            <div class="container">
                <p>
                    &copy; <span id="displayYear"></span>
                    All Rights Reserved By <strong>ltct.ro</strong>
                </p>
            </div>
        </footer>
    </section>
{% endblock %}

{% block javascripts_footer %}
    <script src="{{ asset('assets/all/js/custom.js') }}"></script>
{% endblock %}

</body>
</html>
